.logo {
  max-width: 70%;
}

.total-users {
  padding-left: 10px;
  text-align: left;
}

.pagination-box {
  margin-top: 20px;
  height: 54px;
}

.pagination-box ul {
  margin-bottom: 0 !important;
}
